.app {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
.level-selector {
  background-color:blueviolet
}

.question-area {
  max-width: 1000px;
  background-color:darkcyan;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question-box {
  background-color:antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-button {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: slateblue;
  color:aliceblue;
}

button:disabled {
  background-color: rgb(94, 31, 122);
  color: rgb(121, 182, 16);
}

select {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: antiquewhite;
}